/*=========================================*/
/*=============| G L O B A L |=============*/
/*=========================================*/
:root {
    --border : 5px solid rgba(255, 255, 255, 0.3);
    --textShadow : #ffd200 0px 3px;
}

@font-face {
    font-family: "Pixel";
    src: url('../font/Cave-Story.ttf') format('truetype');
  }

body {
    background-image: url(../pics/wallBackGround.jpg);
    background-size: cover;
    height: 100vh;
    min-width: 375px;
    color: rgb(157, 255, 0);
}


/*=========================================*/
/*=============| H E A D E R |=============*/
/*=========================================*/

.game-title {
    width: 375px;
    height: 60px;
    margin: 15px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.title {
    width: 80%;
}

.game-music {
    width: 100%;
    height: 60px;
    text-align: right;
}

.game-music-button {
    height: 50px;
    margin-right: 20px;
}

/*=========================================*/
/*=============| P L A Y E R |=============*/
/*=========================================*/

.players-and-counter {
    margin-top: 25px;
}

.player-one-name,
.player-two-name {
    margin-bottom: 0;
}

.player-one-counter, 
.player-two-counter {
    height: 65px;
    padding: 10px;
} 

.player-one-count, 
.player-two-count {
    height: 30px;
}

.player-two {
    text-align: right;
}

/*=========================================*/
/*=============| T H E  G R I D |==========*/
/*=========================================*/


.the-grid {
    height: 300px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.picPlayerOne,
.picPlayerTwo {
    margin: auto;
    max-height: 60px;
    max-width: 60px; 
}

.case {
    height: 100px;
    width: 100px;
    text-align: center;
}

.vert {
    border-left: var(--border);
    border-right: var(--border);
}

.horiz {
    border-top: var(--border);
    border-bottom: var(--border);  
}

/*=========================================*/
/*=============| B U T T O N S |===========*/
/*=========================================*/

.restart-btn-col{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 15px;
}

.button {
    height: 65px;
}

.player-btn-row {
    margin-top: 20px;
} 

.one-btn-col {
    text-align: right;
}

/*=========================================*/
/*=============| F O O T E R |=============*/
/*=========================================*/

.footer-text {
    text-align: center;
    margin: 60px;
    margin-bottom: 10px;
}


.flying-victory {
    display: none;
    position:absolute;
    top:calc(50% - 65px);
    left:calc(50% - 150px);
    
}

.victory-message {
    text-align: center;
    height:40px;
    width:150px;
    position: absolute;
    top: calc(50% + 10px);
    left: calc(50% - 75px);
}

.the-winner-is {
    font-family: 'Pixel', arial, sans-serif;
    font-size: 3em;
    color: white;
    text-shadow: var(--textShadow);
}

.victory-pic{
    width: 300px;
}