/*=========================================*/
/*=============| G L O B A L |=============*/
/*=========================================*/
:root {
    --border : 5px solid rgba(255, 255, 255, 0.3);
}
body {
    background-image: url(../pics/wallBackGround.jpg);
    background-size: cover;
    height: 100vh;
    min-width: 375px;
    color: rgb(157, 255, 0);
}


/*=========================================*/
/*=============| H E A D E R |=============*/
/*=========================================*/

.game-title {
    width: 375px;
    height: 60px;
    margin: 15px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.title {
    width: 80%;
}

.game-music {
    width: 100%;
    height: 60px;
    text-align: right;
}

.game-music-button {
    height: 50px;
    margin-right: 20px;
}

/*=========================================*/
/*=============| P L A Y E R |=============*/
/*=========================================*/

.players-and-counter {
    margin-top: 25px;
}

.player-one-counter, 
.player-two-counter {
    height: 65px;
    padding: 10px;
} 

.player-two {
    text-align: right;
}

/*=========================================*/
/*=============| T H E  G R I D |==========*/
/*=========================================*/


.the-grid {
    height: 300px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.case {
    height: 100px;
    width: 100px;
    text-align: center;
}

.vert {
    border-left: var(--border);
    border-right: var(--border);
}

.horiz {
    border-top: var(--border);
    border-bottom: var(--border);  
}

/*=========================================*/
/*=============| B U T T O N S |===========*/
/*=========================================*/

.restart-btn-col{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 15px;
}

.button {
    height: 65px;
}

.player-btn-row {
    margin-top: 20px;
} 

.one-btn-col {
    text-align: right;
}