/*=========================================*/
/*=============| G L O B A L |=============*/
/*=========================================*/

body {
    background-image: url(../pics/wallBackGround.jpg);
    background-size: cover;
    height: 100vh;
    min-width: 375px;
}


/*=========================================*/
/*=============| H E A D E R |=============*/
/*=========================================*/

.game-title {
    width: 375px;
    height: 60px;
    margin: 15px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.title {
    width: 80%;
}

.game-music {
    width: 100%;
    height: 60px;
    text-align: right;
}

.game-music-button {
    height: 50px;
    margin-right: 20px;
}